#about-page{
	color: #fff;
	background: #000;
	
	table{
		margin-bottom: 0px;
	}

	h3{
		color:#ffc600;
		font-weight: bolder;
	}
	
	#transparency{
		/* background-image: url('../img/transparency.jpg'); */
		td{
			padding: $section-padding;
		}
	}
	#honesty{
		/* background-image: url('../img/honesty.jpg'); */
		td{
			padding: $section-padding;
		}
	}
	#confidentiality{
		/* background-image: url('../img/confidentiality.jpg'); */
		td{
			padding: $section-padding;
		}
	}
	#integrity{
		/* background-image: url('../img/integrity.jpg'); */
		td{
			padding: $section-padding;
		}
	}
}