@import 
    'variables';

// Bootstrap Material design
@import 
	 'node_modules/bootstrap/dist/css/bootstrap.min'
	,'node_modules/roboto-fontface/css/roboto/sass/roboto-fontface'
	,'node_modules/bootstrap-material-design/sass/bootstrap-material-design'
    ,'node_modules/bootstrap-material-design/sass/ripples'
    ,'node_modules/node-snackbar/src/sass/snackbar'
    ;

.btn-accent {
    @extend .btn-default;
    background-color: $accent-color !important;
}

body{
	color: $primary-text-color;
    background: #fafafa;
}

html {
    overflow: hidden;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.abs{
    position: absolute;
}

.radio {
    display: inline;
}

.navbar{

    .fa {
        font-size: 16px;
        color: #fff;
        margin-left: 5px;
    }

    .navbar-toggle{
        margin-bottom: 0px !important;
        margin-top:12px !important;
        margin-right:0px !important;
        padding-top:0px !important;
    }

    .navbar-brand{
        font-family: 'Roboto-Medium' !important;
    }
}

.fixed{
    position: fixed !important;
    .btn.btn-fab{
        padding-top: 22%;
    }
}

.m-t-10{
    margin-top: 10px;
}
.m-t-15{
    margin-top: 15px;
}
.m-t-20{
    margin-top: 20px;
}
.m-t-30{
    margin-top: 10px;
}

.abs-b{
    bottom: 16px;
}
.abs-r{
    right: 16px;
}

#appContent{
    padding-top: $app-content-margin-top;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x:hidden; 
   -webkit-overflow-scrolling: touch;
}

.modal-title{
    font-family: 'Roboto-Bold';
}

body.modal-open .modal {
    display: flex !important;
    height: 100%;
} 

body.modal-open .modal .modal-dialog {
    margin: auto;
    @media(max-width: $screen-xs-max){
        margin-left: $material-padding;
        margin-right: $material-padding;

        .modal-body{
            overflow-y: auto;
            max-height: $modal-body-mheight;
        }
    } 
}

.bg-accent{
    font-family: 'Roboto-Medium';
    background: $accent-color;
    color: #fff;
}

.snackbar-container {
    .action {
        font-family: 'Roboto-Medium';
        color: $accent-color !important;
        font-weight: bold;
    }
}

@-webkit-keyframes indeterminate-short{0%{left:-200%;right:100%}60%{left:107%;right:-8%}100%{left:107%;right:-8%}}
@keyframes indeterminate-short{0%{left:-200%;right:100%}60%{left:107%;right:-8%}100%{left:107%;right:-8%}}
//loading shit
.progress{
    position: fixed;
    height: 4px;
    display: none;
    top:50px;
    width: 100%;
    background-color: $primary-color-light;
    // background-color: #acece6;
    border-radius: 2px;
    overflow: hidden;
    .indeterminate{
        background-color: $accent-color;
        // background-color: #26a69a;
        &:before{
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
            animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        }
        &:after{
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            -webkit-animation: indeterminate-short 1.6s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            animation: indeterminate-short 1.6s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        }
    }
}

// pages css
@import 
     'about'
    ,'contact-us'
    ,'services'
    ,'package'
;

