#services-pages{
	.btn-list{
        margin:0;
        text-align: left;
        text-transform: none;
        width: 100%;
	    border-bottom: 1px solid $divider-color;
        padding: $drawer-link-padding;
		overflow-x: overlay;
	}
	.btn-list:last-child{
    	border-bottom: none;
	}
}