/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
@import 
    'variables';

body {
    overflow-x: hidden;
}

.shadowed{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

#menu-toggle{
    float: left;
    margin-left: $menu-margin-left;
}

#drawer{
    z-index: 1203;
    position: fixed;
    top: 0;
    left: 0;
    display: none;

    .drawer-backdrop{
        z-index: 1201;
        position:fixed;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.4;
    }

    .drawer-content{
        z-index: 1202;
        position:fixed;
        height: 100%;
        left: -100%;
        background: $drawer-background;
        width: $drawer-width;
        
        overflow: auto;
        ::-webkit-scrollbar {
            width: 0px;  /* remove scrollbar space */
            background: invisible;  /* optional: just make scrollbar invisible */
        }
        .drawer-header{
            background: $brand-primary;
            padding: $drawer-content-padding;
            min-height: $drawer-header-min-height;
            margin-bottom: $drawer-header-margin-bottom;
            
            h4{
                font-family: 'Roboto-Medium' !important;
                color: #fff;
                small{
                    color: #fafafa;
                }
            }

            .profile-image{
                height: $drawer-header-profile-size;
                width: $drawer-header-profile-size;
                padding: $drawer-header-profile-ptb $drawer-header-profile-plr;
                background: #fff;
            }

            .company-image{
                height: $drawer-header-company-size;
                // width: $drawer-header-company-size;
                float: right;
            }
        }

        .drawer-links{

            color: $secondary-text-color;
            font-family: 'Roboto-Medium';
            a.btn.router-link-exact-active.router-link-active{
                color: $primary-color-dark;
                font-weight: bold;
                .material-icons{
                    color: $primary-color-dark
                }
            }
            hr{
                margin-top:0px;
                margin-bottom:0px;
            }
      
            .material-icons{
                color: $secondary-text-color;
                margin: 0px !important;
                margin-bottom: 2px;
                padding:0px !important;
                display: inline !important;
                float: left !important;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;

                    text-rendering: optimizeLegibility;
            }

            .link-title{
                padding-left:$drawer-link-padding 
            }

            .subheader{
                padding: $drawer-link-padding;
                opacity: 0.54;
            }

            .btn{
                width: 100%;
                padding: $drawer-link-padding;
                margin:0;
                font-size: 14px;
                text-align: left;
                text-transform: none;
                display: block;
            }
        }
    }
}

