@import 
	'node_modules/bootstrap-material-design/sass/colors';

//whole project
$app-content-margin-top	: 50px;
$section-padding: 16px;
$material-padding: 16px;

$modal-body-mheight: 190px;

//colors
$brand-primary			: 	$light-blue;
$primary-color-dark		:   $light-blue-700;
$primary-color-light	:  	#B3E5FC;
$primary-color-text		:   #FFFFFF;
$accent-color			:   #607D8B;
$primary-text-color		:   #212121;
$secondary-text-color	: 	#757575;
$divider-color			:   #BDBDBD;

//drawer specs
$drawer-content-padding	: 	15px;
$drawer-width			: 	85%;
$drawer-background		: 	#fff;
$drawer-header-min-height: 150px;
$drawer-link-padding    : 16px;
$drawer-header-margin-bottom : 15px;
$drawer-header-profile-size: 80px;
$drawer-header-profile-ptb: 10px;
$drawer-header-profile-plr: 17px;
$drawer-header-company-size: 60px;

//package page
$package-card-m-tb : 1px;

//nav
$menu-margin-left		: 	10px;