<template>
<div id='about-page'>
	<table class='table'>
	    <tr id='transparency'>
	        <td>
	            <h3>Transparency</h3>
	            <p>We undertake to be transparent in all our professional contacts. In practice, this means we will identify our client in proactive external professional
	            contacts and services offered for a client.</p>

	            <p>Sometimes we establish coalitions on behalf of clients to work on specific issues. Whenever we do so, we undertake to be transparent about 
	            the purpose of the coalition and principal funders.</p>
	        </td>
	    </tr>
	    <tr id='honesty'>
	        <td>
	            <h3>Honesty</h3>
	            <p>We undertake not to disclose any confidential information provided to us in the course of our work for clients, unless explicity authorized to do
	            so or required by governments or other legal authorities. All WYC employees are contractually obligued to respect this undertaking on
	            all internal matters.</p>

	            <p>We store and handle confidential information so as to ensure that only those who are working with the information have access to it.</p>

	            <p>We advice our clients to uphold all these values in their own related to the advice we provide them.</p>
	        </td>
	    </tr>
	    <tr id='confidentiality'>
	        <td>
	            <h3>Confidentiality</h3>
	            <p>We understand to be honest in all our professional dealings. We undertake never knowingly to spread false or misleading information and to take 
	            reasonable care to avoid doing so inadvertently.</p>

	            <p>We also ask our clients to be honest with us and not to request that we compromised our principles or the law.</p>

	            <p>We take every possible step to avoid conflicts of interest.</p>
	        </td>
	    </tr>
	    <tr id='integrity'>
	        <td>
	            <h3>Integrity</h3>
	            <p>We will only work for the organizations that are prepared to uphold the values of transparency and honesty in the course of our work for them.</p>

	            <p>Sometimes our clients are involved with contentiuos issues. It is part of our job to provide communications assistance to those clients. 
	            We undertake to represent those clients only in ways consistent with the values of honesty and transparency both in what they do and 
	            in what we do for them.</p>
	        </td>
	    </tr>
	</table>
</div>
</template>

<script type="text/javascript">
	export default {
		created(){
			this.$parent.appTitle = 'About';
		}
	}
</script>