<template>
	<div class="col-md-12">
        <h3>Packages
        	<br>
			<small>Monitor your packages by entering your mobile number.</small>
        </h3>
        <div class='card'>
			<div class="card-body">
			<div class="form-group form-group-lg  label-floating" :class="{ 'has-error': form.errors.has('number') }" >
					<label class="control-label" >Mobile Number</label>
					<input maxlength='11' v-model='form.number' id='mobileNumber' class='form-control  input-lg'>
					<p class="text-danger" v-text="form.errors.get('number')"></p>
				</div>
				<center class='form-group'>
					<button @click='submit()' class='text-center btn btn-lg btn-raised btn-primary'>Submit</button>
				</center>
			</div>
        </div>
        <modal id='saveProfileModal'>
	        <template slot="modal-title" >Save Profile?</template>
	        <template slot="modal-body" >
				Save your profile on this phone for faster monitoring of your packages.
	        </template>
	        <template slot="modal-footer" >
				<button class='btn btn-primary' @click='goToPackages'>Continue</button>
				<button class='btn btn-primary' @click='saveGoToPackages'>Save</button>
	        </template>
	    </modal>
    </div>
</template>

<script type="text/javascript">
	export default {
		data(){
			return{
				form:new Form({
					number:''
				}, { baseURL: window.base_url }),
				client:{}
			}
		},

		methods:{
			saveGoToPackages(){
				this.$parent.client = this.client;
				this.$parent.saveProfile();
				this.goToPackages();
			},
			goToPackages(){
                this.$router.push({ name: 'package-list'})
                $('#saveProfileModal').modal('hide');
				this.$parent.hasBack = true;
			},
			setClient(clientDetails, contact_info){
				this.client.first_name = clientDetails.client_fname;
				this.client.last_name = clientDetails.client_lname;
				this.client.id = clientDetails.client_id;
				this.client.gender = clientDetails.client_gender;
				this.client.mobile_number = contact_info;
			},
			setParentPackages(packages){
				this.$parent.packages = packages;
			},
			hasSelectedProfile(clientPackages){
            	$('#saveProfileModal').modal('toggle');
            	this.setClient(clientPackages.client,clientPackages.contact_info);
	            this.setParentPackages(clientPackages.packages);
			},
			submit(){
				this.form.number = this.form.number[0] == '0'? this.form.number.trimLeft('0'):this.form.number;
				var trimmed = '';
				if(this.form.number[0] == '0')
				{
					trimmed = '0';
					this.form.number = this.form.number.trimLeft('0');
				}else if(this.form.number[0] == '6' && this.form.number[1] == '3'){
					trimmed = '63';
					this.form.number = this.form.number.trimLeft('63');

				}else if(this.form.number[1] == '6' && this.form.number[2] == '3'){
					trimmed = '+63';
					this.form.number = this.form.number.trimLeft('+63');
				}
				this.form
					.submit('post',window.package_number_url)
	                .then(result => {
	                	if(result)
	                	{
	                		if(result.length==1){
		                		//only one client associated with the given number
			                	var clientPackage = result[0];
			                	this.hasSelectedProfile(clientPackage);
		                	}else if(result.length>1){
		                		//many clients associated with the given number
		                		//go to indentity verification page
		                		this.$parent.relatedClients = result;
		                		this.$parent.client.mobile_number = this.form.number;
			                    this.$router.push({ name: 'verify-user'})
		                	}
	                	}

	                	this.form.number = trimmed + this.form.number;
	                })
	                .catch($.noop);
			}
		},
		
		mounted(){
			this.$parent.appTitle = 'Get by Mobile';
			this.$parent.hasBack = false;
			$.material.init();
		},

		created(){
			
			if(this.$parent.client.id)
			{
	            this.$router.push({ name: 'package-list'})
			}
		}

	}

// 	$('#btnGoToMobilePage').click(function(){
//     if(storage.getItem('user_mobile_number').length > 0)
//     {
//         $('#mobile_number').val($('#user_mobile_number').html());
//         $('#btnMobileSubmit').click();
//     }
// })

// $('#btnMobileSubmit').click(function(){
    
// 	contact_number = $('#mobile_number').val();
// 	group = $('#package-panel-group');

   
//     // alert(storage.getItem('user_mobile_number'));
//     // 9178429679
//     // seong-ho
//     // won
//     // male
// 	if(contact_number.length > 6) //wrote 10 characters or tel num
// 	{
// 		// contact_number = '+639155705010';
// 		//last 10 characters
// 		contact_number = contact_number.substr(contact_number.length - 10);
//         // 9155705010
// 		$.ajax({
//         	url: window.base_url+'api/get-packages-number',
//         	data:{number:contact_number},
//         	dataType:'json',
//         	type:'POST',
//             beforeSend:function(){
//                 window.data_packages = null;
//                 window.clients = [];
//             },
//         	success:function(data){
//                 storage.setItem('user_mobile_number', contact_number);

//                 window.setNameAndNumber();
//                 if(data[0] == null)
//         		{
//                     $.snackbar({content: 'No existing number'});
//         		}else{
//                     if(data.length > 1)
//                     {
//                         //many accounts
//                         window.data_packages = data;
//                         for(j=0; j<data.length; j++)
//                         {
//                             window.clients.push(data[j].client);
//                         }
//                         $('#btnMobileSubmit').attr('href','#asking_credentials_container');
//                         $('#btnMobileSubmit').tab('show');
//                         return;
//                     }else
//                     {
//                         // get details
//                         window.processing_client = data[0].client_id;
//                         window.processing_client_name = data[0].client.client_lname+', '+data[0].client.client_fname;
                        
//                         storage.setItem('user_full_name', window.processing_client_name);
//                         window.setNameAndNumber();
                        
//                         $.ajax({
//                             url:window.base_url+'api/get-packages-client',
//                             data:{client_id:processing_client},
//                             dataType:'json',
//                             type:'POST',
//                             beforeSend:function(){
//                                 window.processing_client_leader = false;
//                             },
//                             success:function(sdata){
//                                 compilePanelsIndividual(sdata);
//                                 if(sdata.is_leader)
//                                 {
//                                     window.processing_client_leader = sdata.is_leader;

//                                     $('#btnMobileSubmit').attr('href','#choices_container');
//                                     $('#btnMobileSubmit').tab('show');
//                                 }else
//                                 {
//                                     $('#btnMobileSubmit').attr('href','#package_container');
//                                     $('#btnMobileSubmit').tab('show');
//                                 }
//                             },
//                             error:function(error){
//                                 // alert('No existing number');
//                             }
//                         })

//                     }
//         		}
//         	},
//         	error:function(error){
//                 // $.snackbar({content: 'No existing number'});
//         	}
// 		})
// 	}else
//     {
//         $.snackbar({content: 'Minimum of 7 Characters.'});
//     }
// })




// $('#btnDetailsSubmit').click(function(){
//     client_fname = $('#fname').val();
//     client_lname = $('#lname').val();
//     client_gender = $("input[name=gender]:checked").val();


//     for(i=0; i< window.clients.length; i++)
//     {
//         parsed = window.clients[i];
//         // debugger;
//         if(
//             !parsed
//         ){
//             continue;
//         }

//         if(
//             (
//                 (
//                 client_fname.toLowerCase() == (window.clients[i].client_fname).toLowerCase().trim()
//                     &&
//                 client_lname.toLowerCase() == (window.clients[i].client_lname).toLowerCase().trim()
//                 )
//             ||
//                 (
//                 client_lname.toLowerCase() == (window.clients[i].client_fname).toLowerCase().trim()
//                     &&
//                 client_fname.toLowerCase() == (window.clients[i].client_lname).toLowerCase().trim()
//                 )
//             )
//             &&
//             (client_gender.toLowerCase() == (window.clients[i].client_gender).toLowerCase().trim())
//         ){
//             window.processing_client = window.clients[i].client_id;
//             window.processing_client_name = window.clients[i].client_lname+', '+window.clients[i].client_fname;

//             $.ajax({
//                 url:window.base_url+'api/get-packages-client',
//                 data:{client_id:window.processing_client},
//                 dataType:'json',
//                 type:'POST',
//                 success:function(sdata){
//                     compilePanelsIndividual(sdata);
//                     if(sdata.is_leader)
//                     {
//                         window.processing_client_leader = sdata.is_leader;

//                         compilePanels(window.data_packages);
//                         $('#btnMobileSubmit').attr('href','#choices_container');
//                         $('#btnMobileSubmit').tab('show');
//                     }else
//                     {
//                         $('#btnMobileSubmit').attr('href','#package_container');
//                         $('#btnMobileSubmit').tab('show');
//                     }
//                 },
//                 error:function(error){
//                 }
//             })
           
//             return;
//         }
//     }

//     $.snackbar({content: 'No records found!'});
// })
</script>