<template>
	<div class="col-xs-12">
        <h3><b> Address </b><br><small> U110 Balagtas St, Balagtas Villas Barangay 15 San Isidro Pasay City </small></h3>
        <h3><b> Contact </b><br><small> (02) 354 80 21 </small></h3>
        <h3><b> Operating hours</b> <br><small> Monday - Friday (8am - 5pm)</small></h3>
    </div>
</template>

<script type="text/javascript">
	export default {
		created(){
			this.$parent.appTitle = 'Contact Us';
		}
	}
</script>