<template>
<div class='container' id='package-page'>
	<div id='breakdown' class="row collapse slide  m-t-15">
		<div class='col-md-12 col-sm-12 col-xs-12 '>
			<div class="card-body">
				<div class="row">
					<div class="col-xs-6 text-right">
						<b>Client ID</b>
					</div>
					<div class="col-xs-5 text-right">
						{{package.client.client_id}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 text-right">
						<b>Client Name</b>
					</div>
					<div class="col-xs-5 text-right">
						{{package.client.client_lname | titleCase}}, {{package.client.client_fname | titleCase}}
					</div>
				</div>
				<div class="row text-info">
					<div class="col-xs-6 text-right">
						<b>Total Package Cost</b>
					</div>
					<div class="col-xs-5 text-right">
						<b>{{totalPackageCost() | currency}}</b>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 text-right">
						<b>Initial Deposit</b>
					</div>
					<div class="col-xs-5 text-right">
						{{package.deposit | currency}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 text-right">
						<b>Total Payment</b>
					</div>
					<div class="col-xs-5 text-right">
						{{package.payment | currency}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 text-right">
						<b>Total Refund</b>
					</div>
					<div class="col-xs-5 text-right">
						{{package.refund | currency}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 text-right">
						<b>Total Discount</b>
					</div>
					<div class="col-xs-5 text-right">
						{{package.discount | currency}}
					</div>
				</div>
				<div class="row  text-success">
					<div class="col-xs-6 text-right">
						<b>Available Balance</b>
					</div>
					<div class="col-xs-5 text-right">
						<b>{{package.balance | currency}}</b>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="list" class="row collapse in slide">
		<div 
			class='col-md-12 col-sm-12 col-xs-12 card' 
			v-if='list.active' 
			v-for='list in reverseServices(package.list)'
			@click='showLogs(list.id)'
			>
			<div class="card-body">
				<span 
					class='pull-right' 
					:class='statusCheckClass(list.status)' 
				><b>{{statusCheckTooltip(list.status)}}</b></span>
				<div class="row">
					<div class="col-md-12">
						<h5><small>Date: {{list.service_date}}</small></h5>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<h4>Service Detail: {{list.detail}}</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 text-center">
						<h4>
							<small>Service Cost</small>
							<p>{{list.amount | currency}}</p>
						</h4>
					</div>
					<div class="col-sm-3 text-center">
						<h4>
							<small>Additional Cost</small>
							<p>{{list.charge2 | currency}}</p>
						</h4>
					</div>
					<div class="col-sm-3 text-center">
						<h4>
							<small>Service Fee</small>
							<p>{{list.charge | currency}}</p>
						</h4>
					</div>
					<div class="col-sm-3 text-center text-info">
						<h4>
							<small class='text-info'><b>Total Cost</b></small>
							<p><b>
								{{total(list.amount,list.charge2,list.charge) | currency}}
							</b></p>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='fixed abs-b abs-r'>
		<a id='btnFab' class='btn btn-raised btn-accent btn-fab ' @click='toggleDetails'>
			<span class="fa" :class='isListShown?"fa-eye-slash":"fa-eye"'></span>
		</a>
	</div>
	<modal id='logsModal'>
        <template slot="modal-title" >Logs</template>
        <template slot="modal-body" >
			{{logs}}
        </template>
    </modal>
</div>
</template>
<script type="text/javascript">
export default {
	data(){
		return {
			isListShown:false,
			logs:null
		}
	},

	props: ['package'],

	methods:{
		showLogs(id){
			var report = this.package.reports.filter((obj)=>{return obj.detail_id == id});
			if(report.length){
				//show modal
				this.logs = report[0].rep_text;
				$('#logsModal').modal('show');
			}
		},
		reverseServices(services) {
	        return services.slice().reverse();
	  	},
	  	totalPackageCost(){
	  		var total=0;
	  		for(var i=0; i<this.package.list.length; i++){
	  			if(this.package.list[i].active)
	  			{
		  			total += this.total(this.package.list[i].amount,this.package.list[i].charge2,this.package.list[i].charge);
	  			}
	  		}
	  		return total;
	  	},
		total(amount,charge2,charge){
			var total = 0;
			total = parseFloat("0"+amount) + 
								parseFloat("0"+charge2) + 
								parseFloat("0"+charge);
			return total;
		},
		statusCheckTooltip(status){
			status = status.toLowerCase()
			switch(status)
			{
				case 'complete': return 'Complete'; break;
				case 'pending': return 'Pending'; break;
				case 'on process': return 'On Process'; break;
			}
		},
		statusCheckClass(status){
			status = status.toLowerCase()
			switch(status)
			{
				case 'complete': return 'text-success '; break;
				case 'pending': return 'text-danger '; break;
				case 'on process': return  'text-info '; break;
			}
		},
		toggleDetails(){
			$('#breakdown').stop(true,true).collapse('toggle');
			$('#list').stop(true,true).collapse('toggle');
			this.isListShown = !this.isListShown;
			$('#btnFab').blur();
		}
	},

	mounted(){
		$('[data-toggle="tooltip"]').tooltip();
	},

	created(){
		if(!this.package)
		{
            this.$router.push({ name: 'package-by-tracking'})
		}

		this.$parent.appTitle = 'Package #'+ this.package.package;
		this.$parent.hasBack = true;
	}
}
</script>