<template>
<div id='services-pages'>
	<button 
		v-for='package in reversePackages($parent.packages)' 
		class='btn btn-list' 
		:class='getStatus(package.services)'
		@click='goToPackage(package.package_number)'>
        <span class="label label-success" v-if='package.group'>Group Name: {{package.group.group_name}}</span>
    	<h4>
    		Package #{{package.package_number}}
    		<br>
    		<small>
	        	{{package.Package_date}}
    		</small>
    	</h4>
    </button>
</div>
</template>

<script type="text/javascript">
export default {
	data(){
		return{
			form:new Form({
				package:'',
			}, { baseURL: window.base_url }),

			clientForm:new Form({
				client_id:''
			}, { baseURL: window.base_url }),
		}
	},
	
	methods:{
		reversePackages(packages) {
	        return packages.slice().reverse();
	  	},
		getStatus(services){
			status = 'complete';

			for(var i=0; i<services.length; i++)
			{
				if('complete' != services[i].status.toLowerCase())
				{
					if('on process' == services[i].status.toLowerCase())
					{
						status = 'on process';
					}else{
						status = 'pending';
					}
				}
			}

			switch(status)
			{
				case 'complete': return 'btn-success'; break;
				case 'on process': return 'btn-info'; break;
				case 'pending': return 'btn-danger'; break;
			}
			return status;
		},
		goToPackage(tracking_number){
			this.form.package = tracking_number;
			this.form
				.submit('post',window.tracking_number_url)
                .then(result => {
                    this.$router.push({ name: 'package', params: {package: result }})
                })
                .catch($.noop);
		},
		fetchPackages(){
			this.clientForm
					.submit('post',window.package_client_url)
	                .then(result => {
	                	//first data
	                	if(result)
	                	{
							this.$parent.client.first_name = result.client_fname;
							this.$parent.client.last_name = result.client_lname;
							this.$parent.client.id = result.client_id;
							this.$parent.client.gender = result.client_gender;
		                	this.$parent.packages = result.packages;

		                	this.$parent._insertTableValues('USER',this.client,function(result){});
	                	}
	                })
	                .catch($.noop);
		}
	},

	props: ['packages'],

	created(){
		this.$parent.appTitle = 'Package List';
		if(this.$parent.client.id)
		{
			this.$parent.hasBack = false;
			this.clientForm.client_id = this.$parent.client.id;
			this.fetchPackages();
		}
	}

}
</script>