<template>
<div id='services-pages'>
    <button v-for='service in services' class='btn btn-list' @click='showDescription(service.id)'>
        {{service.title}}
    </button>
    <modal id='serviceModal'>
        <template slot="modal-title" >Modal Title</template>
        <template slot="modal-body" >Modal Title</template>
    </modal>
</div>
</template>

<script type="text/javascript">
export default {
    data() {
        return {
            services: 
            [
                {
                    id:1,
                    title: 'ACR-ICARD',
                    description: 'An ACR-ICARD is a microchip based, credit card-sized, identification card issued to all registered aliens whose stay in the Philippines has exceeded fifty-nine (59) days.'
                },
                {
                    id:2,
                    title: 'Alien Employment Permit (AEP)',
                    description: 'The ARP is a Departmentof Justice - Bureau of Immigration (BI) initiative based on three-phase project. The First Phase of the Project involves the set-up and implementation of Biometric data-capturing devices. The Second and Third Phase shall implement the use of servers and data analyzing devices.'
                },
                {
                    id:3,
                    title: 'BI-Certification',
                    description: 'The BI-Certification is an individual certifying that he/she is not in any of derogatory database, list or record of the Bureau.'
                },
                {
                    id:4,
                    title: 'Black List',
                    description: 'The Black List is a list or register of entities or people, for one reason or another, are being denied a particular privilege, service, mobility, access or recognition.'
                },
                {
                    id:5,
                    title: 'Bureau of Investment (BOI)',
                    description: 'Bureau of Investments The Philippine Board of Investments (BOI), an attached agency of Department of Trade and Industry (DTI), is the lead government agency responsible for the promotion of investments in the Philippines.'
                },
                {
                    id:6,
                    title: 'Bureau of Quarantine',
                    description: 'Bureau of Quarantine (BOQ) is the health authority and a line bureau of the Department of Health (DOH). BOQ is mandated to ensure security against the introduction and spread of infectious diseases, emerging diseases and public health emergencies of international concern (PHEIC).'
                },
                {
                    id:7,
                    title: 'Ceza Working Visa',
                    description: 'The Cagayan Economic Zone Authority (CEZA) is a government owned and controlled corporation that was created by virtue of Republic Act 7922, otherwise known as the “Cagayan Special Economic Zone Act of 1995″.'
                },
                {
                    id:8,
                    title: 'Company Registration',
                    description: 'The company name must be officially approved by the Registrar of Companies. On applying to the Registrar for the approval of a name, it is recommended that two or three possible names ending with the word “limited” be submitted as this may avoid unnecessary delays.'
                },
                {
                    id:9,
                    title: 'Department of Justice (DOJ)',
                    description: 'The Department of Justice (DOJ) is the judicial department of the Philippine government responsible for upholding the rule of law in the Philippines. It is the government\'s principal law agency, serving as its legal counsel and prosecution arm.'
                },
                {
                    id:10,
                    title: 'Embassy Services',
                    description: 'The Embassy Services is help and advice provided by the diplomatic agents of a country to citizens of that country who are living or traveling overseas.'
                },
                {
                    id:11,
                    title: 'Emigration Clearance Certificate (ECC)',
                    description: 'The Emigration Clearance Certificate (ECC), although not technically a visa is grouped with them because it is often referred to by foreign nationals as an exit visa, and frankly it has that kind of power, without it you don’t get to leave the country when you planned.'
                },
                {
                    id:12,
                    title: 'NSO Certificates',
                    description: 'The National Statistics Office (NSO) is the primary statistical agency of the government mandated to collect, compile, classify, produce, publish, and disseminate general-purpose statistics as provided for in Commonwealth Act No. 591.'
                },
                {
                    id:13,
                    title: 'Re-stamping of Visa',
                    description: 'Foreign nationals with visas that are not fully implemented or for reasons of lost or damaged passports.'
                },
                {
                    id:14,
                    title: 'Special Retirement Residence Visa (SRRV)',
                    description: 'The Information Guide to the Special Resident Retiree\'s Visa (SRRV) is designed as a detailed reference to assist retiree applicants in understanding the different SRRV Options, the application requirements and process, and the obligations of being a PRA retiree member.'
                },
                {
                    id:15,
                    title: 'Student Visa (9F)',
                    description: 'The applicant for student visa, having means sufficient for education and support in the Philippines, must be at least eighteen (18) years old and seeks to enter the Philippines temporarily and solely for the purpose of taking up a course of study higher than high school at a university, seminary, academy, college or school, approved for foreign students by the Commissioner of Immigration.'
                },
                {
                    id:16,
                    title: 'The National Bureau of Investigation (NBI)',
                    description: 'The National Bureau of Investigation (NBI) is an agency of the Philippine government under the Department of Justice, responsible for handling and solving major high-profile cases that are in the interest of the nation.'
                },
                {
                    id:17,
                    title: 'Tourist Visa',
                    description: 'A Tourist Visa is a conditional authorization granted by a country (typically to a foreigner) to enter and temporarily remain within, or to leave that country. Visas typically include limits on the duration of the foreigner\'s stay, territory within the country they may enter, the dates they may enter, or the number of permitted visits.'
                },
                {
                    id:18,
                    title: 'Visa Status Verification',
                    description: 'If you have applied or petitioned for an immigration benefit, you can check the status of your case online.'
                },
                {
                    id:19,
                    title: 'Waiver for Exclusion Ground',
                    description: 'Under Section 29(a) (12) of the Commonwealth Act No. 613 or the Philippine Immigration Act of 1940, children below fifteen (15) years of age who are unaccompanied by or not coming to a parent, are classified as excludable. In order for them to be admitted into the Philippines, they must secure a Waiver of Exclusion Ground (WEG) from the Bureau of Immigration, upon proper coordination with the Department of Foreign Affairs (DFA).'
                },
                {
                    id:20,
                    title: 'Working Visa (9G)',
                    description: 'A foreigner who desires to work in the Philippines must secure a 9g or work visa from the Bureau of Immigration. The process will be a change of Status to Pre-Arranged Employee under Section 9(G) of the Philippine Immigration Act of 1940, as amended.'
                },
                {
                    id:21,
                    title: 'Other Services',
                    description: 'We assist Other Services like Affidavit, Lost ICard, and Tin Card.'
                },
            ]
        }
    },

    methods:{
        showDescription(id){
            var service = this.services.filter(obj => { return obj.id === id});
            if(service)
            {
                service = service[0];
                $('.modal-title').html(service.title);
                $('.modal-body').html(service.description);
                $('#serviceModal').modal('toggle')
            }
        }
    },

    created(){
        this.$parent.appTitle = 'Services';
    }
}

// $(document).ready(()=>{
//     $('.modal-body').scroll(()=>{
//         clearTimeout($.data(this, 'scrollTimer'));
//         $('.modal-header').css('box-shadow','0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)');
//         $('.modal-footer').css('box-shadow','0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)');
//         $.data(this, 'scrollTimer', setTimeout(function() {
//             // do something
//             $('.modal-header').css('box-shadow','none');
//             $('.modal-footer').css('box-shadow','none');
//         }, 250));
//     })
// })

</script>