<template>
	<div class="col-md-12">
        <h3>Packages by Tracking Number
        	<br>
			<small>Monitor your package by entering the tracking number given by WYC Business Consultancy.</small>
        </h3>
        <div class='card'>
			<div class="card-body">
			<div class="form-group form-group-lg  label-floating" :class="{ 'has-error': form.errors.has('package') }" >
					<label class="control-label" >Tracking Number</label>
					<input maxlength='13' v-model='form.package' id='trackingNumber' class='form-control  input-lg'>
					<p class="text-danger" v-text="form.errors.get('package')"></p>
				</div>
				<center class='form-group'>
					<button @click='submit()' class='text-center btn btn-lg btn-raised btn-primary'>Submit</button>
				</center>
			</div>
        </div>
    </div>
</template>

<script type="text/javascript">
export default {
	data() {
		return {
			form:new Form({
				package:'',
			}, { baseURL: window.base_url }),
		}
	},

	methods:{
		submit(){
			this.form
				.submit('post',window.tracking_number_url)
                .then(result => {
                    this.$router.push({ name: 'package', params: {package: result }})
                })
                .catch($.noop);
		}
	},

	mounted(){
		$.material.init();
	},

	created(){
		this.$parent.hasBack = false;
		this.$parent.appTitle='Tracking Number';
	}
}

// end

// $('#btnTrackingSubmit').click(function(){

//     tracking_number = $('#tracking_number').val();
//     $.ajax({
//         url:window.base_url+'api/track/'+tracking_number,
//         type: 'GET',
//         dataType: 'json',
//         beforeSend(){
//             $('#tracking_table').html('');
//         },
//         success:function(data)
//         {
//             td = '';
//             if(data)
//             {

//                 //group package
//                 if(tracking_number.toUpperCase().indexOf('GL') > -1)
//                 {

//                     package_cost = 0;
//                     td += "<table class='table table-bordered'>\
//                         <thead>\
//                             <tr>\
//                                 <th>Name</th>\
//                                 <th>Client #</th>\
//                                 <th>Total Service Cost</th>\
//                             </tr>\
//                         </thead>\
//                         <tbody id=''>";
                        
//                     for(var i=0; i< data.services.length; i++)
//                     {
//                         td+= '<tr id="seeDetails" data-group="'+data.services[i].group_id+'" data-client="'+data.services[i].client_id+'"  >';
//                             td+= '<td>'+toTitleCase(data.services[i].client_lname)+', '+toTitleCase(data.services[i].client_fname)+'</td>';
//                             td+= '<td>'+data.services[i].client_id+'</td>';
//                             td+= '<td>'+numberWithCommas(data.services[i].total_cost)+'</td>';
//                         td+= '</tr>';
//                         total_cost = '0'+data.services[i].total_cost;
//                     }

//                     td+=    "</tbody>\
//                     </table>";

//                     $('#tracking_table').html(td);
//                     $('#client_name').html(tracking_number);
//                     $('#client_id').html(data.group);
                    
//                     package_cost = parseFloat(data.cost);

//                     $('#total_package_cost').html(numberWithCommas(package_cost));
//                     $('#initial_deposit').html(numberWithCommas(data.deposit));
//                     $('#total_payment').html(numberWithCommas(data.payment));
//                     $('#total_refund').html(numberWithCommas(data.refund));
//                     $('#total_discount').html(numberWithCommas(data.discount));
//                     $('#available_balance').html(numberWithCommas(data.balance));

//                 }else //member package or normal package
//                 {

//                     package_cost = 0;
//                     td += "<table class='table table-bordered'>\
//                                 <thead>\
//                                     <tr>\
//                                         <th>Service Status</th>\
//                                         <th>Date Created</th>\
//                                         <th>Service Detail</th>\
//                                         <th>Service Cost</th>\
//                                         <th>Additional Charge</th>\
//                                         <th>Service Fee</th>\
//                                         <th>Total Cost</th>\
//                                     </tr>\
//                                 </thead>\
//                                 <tbody >";
                              
//                     for(var i=0; i< data.list.length; i++)
//                     {
//                         td+= '<tr id="seeLogs" data-id="'+data.list[i].id+'">';
//                             td+= '<td>'+data.list[i].status+'</td>';
//                             td+= '<td>'+data.list[i].service_date+'</td>';
//                             td+= '<td>'+data.list[i].detail+'</td>';
//                             td+= '<td>'+numberWithCommas(data.list[i].amount)+'</td>';
//                             td+= '<td>'+numberWithCommas(data.list[i].charge2)+'</td>';
//                             td+= '<td>'+numberWithCommas(data.list[i].charge)+'</td>';
//                             td+= '<td>'+ numberWithCommas(parseFloat(data.list[i].charge)+parseFloat(data.list[i].amount)) +'</td>';
//                         td+= '</tr>';
//                         package_cost += (parseFloat(data.list[i].charge)+parseFloat(data.list[i].amount));
//                     }
//                      td+=    "</tbody>\
//                     </table>";
//                     $('#tracking_table').html(td);
//                     $('#client_name').html(data.client.client_lname+', '+data.client.client_fname);
//                     $('#client_id').html(data.client.client_id);

//                     package_cost = data.cost;
//                     $('#total_package_cost').html(numberWithCommas(package_cost));
//                     $('#initial_deposit').html(numberWithCommas(data.deposit));
//                     $('#total_payment').html(numberWithCommas(data.payment));
//                     $('#total_refund').html(numberWithCommas(data.refund));
//                     $('#total_discount').html(numberWithCommas(data.discount));
//                     $('#available_balance').html(numberWithCommas(data.balance));
//                 }

//                 $('#btnTrackingSubmit').tab('show');
//             }

//         },
//         error:function(data)
//         {
//         }
//         // http://topwyc.com/api/track/4897496
//     })
// })

// $('body').on('click','[id="seeDetails"]',function(){
//     post_data = {};
//      post_data.group_id = $(this).data('group')
//      post_data.client_id = $(this).data('client')
//      $.ajax({
//         url:base_url+'tracking/member-service/',
//         data:post_data,
//         type:'POST',
//         dataType:'json',
//         success:function(data)
//         {
//             td = '';
//             if(data.status == 'success')
//             {
//                 for(i=0; i< data.nodes.length; i++)
//                 {
//                     td += '<tr>';
//                     td += '<td>' + data.nodes[i].serviceDate + '</td>';
//                     td += '<td>' + data.nodes[i].tracking + '</td>';
//                     td += '<td>' + data.nodes[i].detail + '</td>';
//                     td += '<td>' + numberWithCommas(data.nodes[i].amount )+ '/Cost</td>';
//                     td += '<td>' + numberWithCommas(data.nodes[i].charge )+ '/SF</td>';
//                     td += '<td>' + numberWithCommas(data.nodes[i].charge2 )+ '/AC</td>';
//                     td += '</tr>';
//                 }
//             }
//             $('#groupModal tbody').html(td);
//             $('#groupModal').modal('toggle');
//         }
//      })

// })

// $('#btnBackTracking').click(function(){
//     showTab('#tracking_container');
// })




</script>