<template>
<div class="col-md-12">
	<h3>
		Multiple Clients
		<br>
		<small>
			Many clients are associated with this mobile number. Help us know who you are..
		</small>
	</h3>
	<div class="form-group form-group-lg  label-floating" :class="{ 'has-error': form.errors.has('first_name') }" >
		<label class="control-label" for="inputLarge">
			First Name
		</label>
		<input class="form-control input-lg" type="text" v-model='form.first_name'>
		<p class="text-danger" v-text="form.errors.get('first_name')"></p>
	</div>
	<div class="form-group form-group-lg  label-floating" :class="{ 'has-error': form.errors.has('last_name') }" >
		<label class="control-label" for="inputLarge">
			Last Name
		</label>
		<input class="form-control input-lg" type="text" v-model='form.last_name'>
		<p class="text-danger" v-text="form.errors.get('last_name')"></p>
	</div>
	<div class="form-group">
		<div class="radio">
			<label>
				<input type="radio" value="male" v-model='form.gender' checked="">
				Male
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" value="female" v-model='form.gender'>
				Female
			</label>
		</div>
	</div>
	<div class="form-group text-center">
		<button href='#' class='btn btn-primary btn-lg btn-raised' @click='submit'>Submit</button>
	</div>

	<modal id='saveProfileModal'>
        <template slot="modal-title" >Save Profile?</template>
        <template slot="modal-body" >
			Save your profile on this phone for faster monitoring of your packages.
        </template>
        <template slot="modal-footer" >
			<button class='btn btn-primary' @click='goToPackages'>Continue</button>
			<button class='btn btn-primary' @click='saveGoToPackages'>Save</button>
        </template>
    </modal>
</div>
</template>

<script type="text/javascript">
export default {
	data(){
		return {
			form:{
				first_name:'',
				last_name:'',
				gender:'male',
				errors:new Errors()
			},
			getClientForm:new Form({
				client_id:''
			}, { baseURL: window.base_url }),
			client:null
		}
	},

	methods:{
		saveGoToPackages(){
			var mobile_number = this.$parent.client.mobile_number;
			this.$parent.client = this.client;
			if(mobile_number[0] == '9')
			{
				mobile_number = '0'+mobile_number;
			}
			this.$parent.client.mobile_number = mobile_number;
			this.$parent.saveProfile();
			this.goToPackages();
		},
		goToPackages(){
            this.$router.push({ name: 'package-list'})
            $('#saveProfileModal').modal('hide');
			this.$parent.hasBack = true;
		},
		submit(){
			if(!this._validations())
				return false;

			//submit
            $('#saveProfileModal').modal('show');
			//show modal for saving
			this.getClientForm.client_id = this.client[0].client_id;
			this.getClientForm
					.submit('post',window.package_client_url)
	                .then(result => {
	                	//first data
	                	if(result)
	                	{
							this.client.first_name = result.client_fname;
							this.client.last_name = result.client_lname;
							this.client.id = result.client_id;
							this.client.gender = result.client_gender;
		                	this.$parent.packages = result.packages;
	                	}
	                })
	                .catch($.noop);

		},
		_prepareStr(str){
			return str.toString().trim().toLowerCase();
		},
		_conditions(fname,lname,gender){
			if(
				(
	                (
	                this._prepareStr(fname) == this._prepareStr(this.form.first_name)
	                    &&
	                this._prepareStr(lname) == this._prepareStr(this.form.last_name)
	                )
	            ||
	                (
	                this._prepareStr(lname) == this._prepareStr(this.form.first_name)
	                    &&
	                this._prepareStr(fname) == this._prepareStr(this.form.last_name)
	                )
            	)
            &&
            	(
            		this._prepareStr(gender) == this._prepareStr(this.form.gender)
            	)
        	)
			{
				return true;
			}else
			{
				return false;
			}
		},
		isEmpty(obj) {
		    for(var prop in obj) {
		        if(obj.hasOwnProperty(prop))
		            return false;
		    }

		    return JSON.stringify(obj) === JSON.stringify({});
		},
		_validations(){
			var errors = {};
			this.client = null;

			this.client = this.$parent.relatedClients.filter((obj)=>{
				if(!obj.client)
					return false;
				
				var client = obj.client;
				var fname = client.client_fname!=null?client.client_fname :'';
				var lname = client.client_lname!=null?client.client_lname :'';
				var gender = client.client_gender!=null?client.client_gender :'';
				return this._conditions(fname,lname,gender);
			});

			if(this.client.length == 0){
				errors.client = 'No Records Found with the given details and mobile number.';
			}

			if(this.form.first_name.length < 3){
				errors.first_name = 'First Name should be more than two (2) Characters.';
			}
			if(this.form.last_name.length < 3){
				errors.last_name = 'Last Name should be more than two (2) Characters.';
			}

			if(this.form.first_name.length == 0){
				errors.first_name = 'First Name is required.';
			}
			if(this.form.last_name.length == 0){
				errors.last_name = 'Last Name is required.';
			}

			if(!(errors.last_name || errors.first_name) && errors.client){
				snackbar.show({
					text:errors.client,
					textColor:'#F44336',
				});
			}

			if(!this.isEmpty(errors))
			{
				this.form.errors.errors = errors;
				return false;
			}else
			{
				return true;
			}
		},
	},

	mounted(){
		$.material.init();
	},

	created(){
		this.$parent.appTitle = 'Verify';
		this.$parent.hasBack = true;
	}
}
</script>