<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <!-- <meta 
            http-equiv="Content-Security-Policy" 
            content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;"> -->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">

        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="fonts/material-icons.css">
        
        <link rel="stylesheet" type="text/css" href="css/sidebar.css">
        <title>WYCGroupTracker</title>
    </head>
    <body>
        <div class="app">
            <!-- header -->
            <div class="navbar navbar-default navbar-fixed-top shadowed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" 
                            @click='goBack'
                            class='pull-left navbar-toggle'
                            >
                            <i  v-if='!hasBack'  class="material-icons">&#xE5D2;</i>
                            <i   v-if='hasBack'   class="material-icons">&#xE5C4;</i>
                        </button>
                        <span class="navbar-brand" >{{appTitle}}</span>
                    </div>
                    <div class="collapse navbar-collapse" >
                        <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <router-link @click.native='closeMenu()' to="/about" class=''>
                                        <span class='link-title'> About WYC</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link @click.native='closeMenu()' to="/services" class=''>
                                        <span class='link-title'> Services</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link @click.native='closeMenu()' to="/contact-us" class=''>
                                        <span class='link-title'> Contact Us</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link @click.native='closeMenu()' to="/tracking-number" class=''>
                                        <span class='link-title'> Track Number</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link @click.native='closeMenu()' to="/mobile-number" class=''>
                                        <span class='link-title'> {{ client.id?'Packages':'Mobile Number'}}</span>
                                    </router-link>
                                </li>
                                <li>
                                    <a  v-if='client.id' href="#" class='' @click='logout()'>
                                        <span class='link-title'> Logout</span>
                                    </a>
                                </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
            <!-- end of header -->

            <!-- drawer -->
            <div id="drawer">
                <div class="drawer-backdrop"></div>
                <div class="drawer-content shadowed">
                    <div class="drawer-header">
                        <div class="row">
                            <div class="col-xs-12">
                                 <img src="img/logo.png" class='img-circle profile-image' alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>
                                    {{client.id? client.last_name+", "+client.first_name:'' | titleCase}}
                                    {{!client.id?'WYC Business Consultancy':''}}
                                    <br>
                                    <small v-if='client.id'>
                                        {{client.id}}
                                        <br>
                                        {{client.mobile_number}}
                                    </small>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-links">
                        <router-link @click.native='closeMenu()' to="/about" class='btn'>
                            <i class="material-icons">&#xE88E;</i>
                            <span class='link-title'> About WYC</span>
                        </router-link>
                        <router-link @click.native='closeMenu()' to="/services" class='btn'>
                            <!-- <i class="material-icons">view_list</i> -->
                            <i class="material-icons">&#xE896;</i>
                            <span class='link-title'> Services</span>
                        </router-link>
                        <router-link @click.native='closeMenu()' to="/contact-us" class='btn'>
                            <i class="material-icons">&#xE55F;</i>
                            <span class='link-title'> Contact Us</span>
                        </router-link>
                        <hr>
                        <div class='subheader'>Packages</div>
                        <router-link @click.native='closeMenu()' to="/tracking-number" class='btn'>
                            <i class="material-icons">&#xE638;</i>
                            <span class='link-title'> Track Number</span>
                        </router-link>
                        <router-link @click.native='closeMenu()' to="/mobile-number" class='btn'>
                            <i  v-if='!client.id'  class="material-icons">&#xE325;</i>
                            <i  v-if='client.id' class="material-icons">&#xE85D;</i>
                            <span class='link-title'> {{ client.id?'Packages':'Mobile Number'}}</span>
                        </router-link>
                        <hr v-if='client.id'>
                        <a  v-if='client.id' href="#" class='btn' @click='logout()'>
                            <i class="material-icons">&#xE879;</i>
                            <span class='link-title'> Logout</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- drawer -->
            <div id='appContent'>
                <router-view class='content-section'></router-view>
            </div>
        </div>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/fastclick.js"></script>

        <!-- scripts -->
        <script type="text/javascript" src="js/bootstrap-material-design.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <!-- end of scripts -->
    </body>
</html>
