<template>
<div class="modal " :id="id" tabindex="-1" role="dialog" aria-labelledby="wyc-modal-label">
    <div class="modal-dialog" :class="modalSize">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <h4 class="modal-title" id="wyc-modal-label">
                    <slot name="modal-title">Modal Title</slot>
                </h4>
            </div>
            <div class="modal-body">
                <slot name="modal-body">Modal Body</slot>
            </div>
            <div class="modal-footer">
                <slot name="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </slot>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: {
        id: { default: 'wyc-modal' },
        size: { default: 'md' }
    },

    computed: {
        modalSize: function () {
            return 'modal-' + this.size;
        }
    }
}
</script>
